# Project Specific
CMakeCache.txt
CMakeFiles/
*.cmake
greenhouse_data_server
*.sqlite
config.json

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
._.DS_Store
*.cpp.o
CXX.includecache
Makefile
/cmake-build-debug
/.idea/workspace.xml
